
.portfolio-wrapper {
    overflow: hidden;
}

.portfolio-wrapper > .row {
    margin-left: -20px;
    margin-right: -20px;
}

.portfolio-filter {
    margin:0px;
    padding: 0px;
    list-style: none;
}

.portfolio-filter li {
    display: inline-block;
}

.portfolio-filter li a {
    color: #a9a8a8;
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}


.portfolio-filter li a:hover,
.portfolio-filter li.active a,
.f-link li a:hover,
.f-link li.active a{
    color: #222222;
}


/*----------------------------*/

.portfolio {
    margin: 50px 0 80px 0;
}

.portfolio .portfolio-item {
    float: left;
}

.portfolio .portfolio-item .thumb {
    position: relative;
    display: block;
}

.portfolio .portfolio-item .thumb img{
    width: 100%;
    height: auto;
    display: block;
}

.portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.60);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    overflow: hidden;
}


.portfolio-item:hover .portfolio-hover,
.portfolio-item:hover .portfolio-hover .portfolio-description,
.portfolio-item:hover .portfolio-hover .action-btn {
    opacity: 1;
    filter: alpha(opacity=100);
}


.portfolio-item:hover .portfolio-hover .portfolio-description {
    top: 50%;
    /*margin-bottom: -90px;*/
}


.portfolio-hover .portfolio-description {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 10%;

}


.portfolio-description,
.portfolio-description h4,
.portfolio-description h4 a,
.portfolio-hover .action-btn a {
    /*text-align: center;*/
    color: #fff;
}

.portfolio-description h4 {
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.portfolio-description p {
    font-size:12px;
    margin-bottom: 0;
    font-weight: normal;
    color: #fff;
    line-height: 20px;
}

.portfolio-description a,
.portfolio-title a {
    color: #fff;
}

/*gutter*/

.portfolio.gutter .portfolio-item {
    padding: 20px;
}


/*portfolio 2 grid*/

.portfolio.col-2 .portfolio-item {
    width: 49.99%;
}


/*portfolio 3 grid*/

.portfolio.col-3 .portfolio-item {
    width: 33.3333333%;
}

/*portfolio 4 grid*/

.portfolio.col-4 .portfolio-item {
    width: 24.98%;
}

/*portfolio 5 grid*/

.portfolio.col-5 .portfolio-item {
    width: 19.99%;
}

/*portfolio 6 grid*/

.portfolio.col-6 .portfolio-item {
    width: 16.666666667%;
}


/* ----------------------------------------------------------------
    Isotope Filtering
-----------------------------------------------------------------*/


.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/*Isotope CSS3 transitions */

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

/*disabling Isotope CSS3 transitions */

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}


/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    transition: none;
}




/*--------------------------------------
    portfolio details
--------------------------------------*/

.fit-img img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.p-list {
    padding: 0;
    list-style: none;
    margin-bottom: 40px;
}

.p-list li {
    display: block;
    line-height: 25px;
    margin-bottom: 5px;
}


.p-list li span {
    width: 115px;
    display: inline-block;
    text-transform: uppercase;
    color: #222;
    font-weight: bold;
    font-size: 12px;
}

.p-list li div.s-link,
.p-list li div.s-link a{
    display: inline-block;
}

.p-list li div.s-link a {
    color: #cdcdcd;
    margin: 0 5px;
}

.p-list li div.s-link a:hover {
    color: #222;
}

.img-info {
    color: #9b9b9b;
    margin-bottom: 50px;
    display: block;
    font-size: 13px;
    font-style: italic;
}

.social-share a {
    margin: 0 10px;
    color: #7c7c7c;
    text-transform: uppercase;
    font-size: 13px;
}
.social-share a i{
    margin-right: 10px;
    color: #222;
    font-size: 16px;
}
